@charset "UTF-8";
body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  min-width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  min-width: 320px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .section--no-padding-bottom {
    padding-bottom: 0;
  }
}

.section--dark-bgcolor {
  background: #f5f4fa;
}

@media screen and (max-width: 1200px) {
  .section--desktop {
    display: none;
  }
}

/* лого для header и footer */
.logo {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .logo {
    margin-top: 16px;
  }
}

.logo__accent-dark {
  color: #000000;
}

.logo__accent-light {
  color: #ffffff;
}

.footer__logo {
  margin-bottom: 20px;
}

.header {
  height: 80px;
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .header {
    height: 60px;
  }
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

@media screen and (max-width: 767px) {
  .header__site-nav {
    display: none;
  }
}

.header__item-nav + .header__item-nav {
  margin-left: 50px;
}

.header__link-nav {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link-nav:hover, .header__link-nav:focus {
  color: #2196f3;
}

.header__link-nav--current {
  color: #2196f3;
  position: relative;
}

.header__link-nav--current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.contacts {
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .contacts__item:not(:first-child) {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:first-child) {
    margin-left: 50px;
  }
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

.contacts__icon {
  fill: #757575;
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
  fill: #2196f3;
}

.button {
  padding: 10px 32px;
  border: transparent;
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: #188ce8;
}

.footer__button {
  position: relative;
  margin-left: 12px;
  padding-left: 29px;
  padding-right: 0;
  text-align: left;
}

.button__icon {
  position: absolute;
  top: 10px;
  right: 28px;
}

.menu-button {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button:focus .menu-button__icon,
.menu-button:hover .menu-button__icon {
  fill: #2196f3;
}

.menu-button__icon {
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  text-align: center;
  background-color: #c4c4c4;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 320px;
  max-width: 1600px;
  min-height: 400px;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/mobile.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/mobile.jpg");
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/mobile@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/tablet.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/tablet.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/tablet@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    min-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/desktop.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/desktop.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/desktop@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/desktop@2x.jpg");
  }
}

.hero__title {
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  min-width: 360px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-width: 768px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 480px) {
  .features-list__item {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .features-list__item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list__item {
    width: 270px;
  }
}

@media screen and (max-width: 1200px) {
  .features-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features-list__item:nth-child(3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .features-list__item:nth-child(2n) {
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list__item + .features-list__item {
    margin-left: 30px;
  }
}

.features-list__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .features-list__title {
    text-align: center;
  }
}

.features-list__fon-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
}

.activities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.activities__item {
  position: relative;
}

.activities__item + .activities__item {
  margin-left: 30px;
}

.activities__title {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__item + .team__item {
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item:nth-child(3) {
    margin-bottom: 0;
    margin-left: 0;
  }
}

.team__card-content {
  padding-top: 30px;
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .team__card-content {
    padding-bottom: 30px;
  }
}

.team__title {
  color: #212121;
  font-weight: 500;
  margin-bottom: 10px;
}

.team__profession {
  margin-bottom: 16px;
}

.team__title, .team__profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-links__item + .social-links__item {
  margin-left: 10px;
}

.social-links__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__link:hover, .social-links__link:focus {
  background-color: #2196f3;
}

.social-links__icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__link:hover .social-links__icon,
.social-links__link:focus .social-links__icon {
  fill: #ffffff;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1199px) {
  .clients {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 479px) {
  .clients__item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (max-width: 767px) {
  .clients__item:nth-child(-n + 4) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
}

.clients__item + .clients__item {
  margin-left: 30px;
}

@media screen and (max-width: 767px) {
  .clients__item:nth-child(2n + 1) {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item:nth-child(3n + 1) {
    margin-left: 0;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 479px) {
  .clients__link {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
}

.clients__icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: #2196f3;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .filters {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    min-width: 362px;
  }
}

@media screen and (min-width: 768px) {
  .filters {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filters {
    margin-bottom: 50px;
  }
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filters__item:nth-child(3) {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .filters__item:nth-child(n + 4) {
    margin-top: 15px;
  }
}

.filters__button {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  color: #212121;
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: inherit;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__button:hover, .filters__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .projects {
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .projects__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.projects__item {
  width: 450px;
}

@media screen and (min-width: 768px) {
  .projects__item {
    width: 354px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .projects__item {
    width: 370px;
  }
}

.card-link {
  display: block;
  text-decoration: none;
}

.card-link:hover, .card-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-link__thumb {
  position: relative;
  min-width: 320px;
  max-height: 294px;
  overflow: hidden;
}

.card-link__discription {
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}

.card-link__content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 24px;
  background: #ffffff;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-link__content--tablet {
    padding-bottom: 56px;
  }
}

.card-link__title {
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-link__text {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
}

.card-link__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  min-height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link:hover .card-link__overlay,
.card-link:focus .card-link__overlay {
  opacity: 1;
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.footer {
  min-width: 320px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer__wrapper-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 1199px) {
  .footer__wrapper-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__wrapper-links {
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__wrapper-links {
    margin-left: 70px;
  }
}

.footer__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}

.footer__form {
  margin-left: auto;
}

@media screen and (max-width: 1199px) {
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
  font-style: normal;
}

@media screen and (max-width: 1199px) {
  .address {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 60px;
  }
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
  padding-top: 9px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.company-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.company-links__item + .company-links__item {
  margin-left: 10px;
}

.company-links__icon {
  fill: #ffffff;
}

.company-links__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-links__link:hover, .company-links__link:focus {
  background-color: #2196f3;
}

.footer__email-input {
  width: 450px;
  height: 50px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .footer__email-input {
    width: 358px;
  }
}

@media screen and (max-width: 1199px) {
  .footer__email-input {
    margin-bottom: 20px;
  }
}

.footer__email-input:focus, .footer__email-input:hover {
  border-color: #2196f3;
}

.footer__email-input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer__email-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer__email-input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer__email-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .backdrop {
    overflow-y: scroll;
  }
}

@media screen and (min-width: 768px) {
  .backdrop--mobile {
    display: none;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}

.backdrop.is-hidden .menu {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 320px;
  min-height: 609px;
  padding: 40px 39px 40px 41px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%), scale(1);
          transform: translate(-50%, -50%), scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.button-modal {
  position: absolute;
  right: 8px;
  top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.button-modal__icon {
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal__icon:focus, .button-modal__icon:hover {
  fill: #2196f3;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form__field-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.form__check-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@media screen and (max-width: 1199px) {
  .form__check-text {
    font-size: 12px;
    line-height: 1.17;
  }
}

.form__check-link {
  color: #2196f3;
}

.form__button {
  display: block;
  margin: 0 auto;
}

.form__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field:hover + .form__icon,
.form__field:focus + .form__icon {
  fill: #2196f3;
}

.form__field {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field:hover, .form__field:focus {
  border-color: #2196f3;
  outline: none;
}

.form__comment {
  margin-bottom: 20px;
  padding-top: 12px;
  padding-left: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__comment:hover, .form__comment:focus {
  border-color: #2196f3;
  outline: none;
}

.form__comment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__comment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__icon-check {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  background-image: url("../images/checkbox.svg");
  -webkit-transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__checkbox:checked + .form__icon-check {
  background-image: url("../images/checked.svg");
}

.menu {
  position: relative;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 480px;
  min-height: 796px;
  padding: 48px 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  -webkit-transform: translateX(-50%), scale(1);
          transform: translateX(-50%), scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }
}

.menu-close {
  position: absolute;
  right: 15px;
  top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-close:focus .menu-close__icon,
.menu-close:hover .menu-close__icon {
  fill: #2196f3;
}

.menu-close__icon {
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav {
  padding-bottom: 306px;
}

.mobile-nav__item + .mobile-nav__item {
  margin-top: 32px;
}

.mobile-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav__link--current {
  color: #2196f3;
}

.mobile-nav__link:hover, .mobile-nav__link:focus {
  color: #2196f3;
}

.mobile-contacts {
  padding-bottom: 64px;
}

.mobile-contacts__item + .mobile-contacts__item {
  margin-top: 32px;
}

.mobile-contacts__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-contacts__link:hover, .mobile-contacts__link:focus {
  color: #2196f3;
}

.mobile-contacts__link--telefon {
  font-size: 34px;
  line-height: 1.176;
  color: #2196f3;
}

.mobile-contacts__link--telefon:hover, .mobile-contacts__link--telefon:focus {
  color: #188ce8;
}

.mobile-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-links__item + .mobile-links__item {
  margin-left: 10px;
}

.mobile-links__item:not(:last-child)::after {
  content: "";
  width: 0px;
  height: 22px;
  margin-left: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-links__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-links__link:hover, .mobile-links__link:focus {
  color: #188ce8;
}
/*# sourceMappingURL=main.css.map */