/* лого для header и footer */
.logo {
  @media screen and (max-width: 767px) {
    margin-top: 16px;
  }

  color: $accent;
  font-family: $title-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  &__accent-dark {
    color: $logo-text-color;
  }

  &__accent-light {
    color: $hero-title-color;
  }
}

.footer__logo {
  margin-bottom: 20px;
}
