$primary-text-color: #757575;
$title-text-color: #212121;
$accent: #2196f3;

$logo-text-color: #000000;
$hero-title-color: #ffffff;
$footer-background-color: #2f303a;
$primary-grey-color: #f5f4fa;
$footer-text-grey: rgba(255, 255, 255, 0.6);
$button-hover-color: #188ce8;
$border-header-color: #ececec;
$border-portfolio-color: #eeeeee;
$grey-icon-color: #afb1b8;
$gray-background-color: rgba(47, 48, 58, 0.8);

$main-font: "Roboto", sans-serif;
$title-font: "Raleway", sans-serif;
